<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla-ERROR</title>
</head>

<body>
    <% var page = '404' %>
    <% include ../../partials/header.ejs %>
    
    <main role="main" class="container">
        <p>ERROR 500</p>
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>