      <!--Footer-->
      <footer class="bg-dark footer">
      
        <!--Footer Links-->
        <div class="container text-center text-md-left">
    
            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3">
    

    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
                    <h6 class="text-uppercase mb-2 font-weight-bold text-info">About</h6>
                    <p class="mb-1" style="height:3em;"><a class="text-dark" href="#!">About Us</a></p>
                    <p class="mb-1" style="height:3em;"><a class="text-dark" href="#!">Privacy Policy</a></p>
                </div>
                <!--/.Second column-->
    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
                    <h6 class="text-uppercase mb-2 font-weight-bold text-info">Useful links</h6>
                    <p class="mb-1" style="height:3em;"><a href="#!" class="text-dark">Getting Started</a></p>
                    <p class="mb-1" style="height:3em;"><a href="#!" class="text-dark">FAQs</a></p>
                    <p style="height:3em;"><a href="#!" class="text-dark">Making Better Surveys</a></p>
                    <!-- <p><a href="#!" class="text-dark">About Us</a></p> -->
                </div>
                <!--/.Third column-->
    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
                    <h6 class="text-uppercase mb-2 font-weight-bold text-info">Contact</h6>
                    <p class="mb-1" style="height: 3em;"><i class="fa fa-home mr-3"></i> Istanbul, 34220 TR</p>
                    <p class="mb-1" style="height: 3em;"><i class="fa fa-envelope mr-3"></i> info@oyla.com</p>
                    <p class="mb-1" style="height: 3em;"><i class="fa fa-phone mr-3"></i> + 90 212 383 57 30</p>
                    <p style="height: 3em;"><i class="fa fa-print mr-3"></i> + 90 212 383 57 32</p>
                </div>
                <!--/.Fourth column-->
    
            </div>
            <!-- Footer links -->
    
            <hr>
    
            <div class="row  d-flex align-items-center">
    
                <!--Grid column-->
                <div class="col-md-8 col-lg-8">
    
                    <!--Copyright-->
                    <p class="text-center text-md-left grey-text">© 2018 Oyla - Free Online Survey Tool</p>
                    <!--/.Copyright-->
    
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-4 col-lg-4 ml-lg-0">
    
                    <!--Social buttons-->
                    <div class="text-center">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1 text-dark" href="#"><i class="fab fa-facebook" style="font-size:2.6em;"></i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1 text-dark" href="#"><i class="fab fa-twitter" style="font-size:2.6em;"></i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1 text-dark" href="#"><i class="fab fa-google-plus" style="font-size:2.6em;"></i></a></li>
                            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1 text-dark" href="#"><i class="fab fa-linkedin" style="font-size:2.6em;"></i></a></li>
                        </ul>
                    </div>
                    <!--/.Social buttons-->
    
                </div>
                <!--Grid column-->
    
            </div>
    
        </div>
    
    </footer>
    <!--/.Footer-->
                    