      <!--Footer-->
      <footer class="bg-dark footer">   
        <div class="col-12 bg-dark">

        <!--Footer Links-->
            <div class="container text-center text-md-left">
                <div class="row text-center text-md-left mt-3">

                    <hr class="w-100 clearfix d-md-none">

                    <!--First column-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-muted">About</h6>
                        <p class="mb-1" style="height:3em;"><a class="text-light" href="#!">About Us</a></p>
                        <p class="mb-1" style="height:3em;"><a class="text-light" href="#!">Privacy Policy</a></p>
                    </div>

                    <hr class="w-100 clearfix d-md-none">
        
                    <!--Second column-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-muted">Useful links</h6>
                        <p class="mb-1" style="height:3em;"><a href="#!" class="text-light">Getting Started</a></p>
                        <p class="mb-1" style="height:3em;"><a href="#!" class="text-light">FAQs</a></p>
                        <p style="height:3em;"><a href="#!" class="text-light">Making Better Surveys</a></p>
                    </div>
        
                    <hr class="w-100 clearfix d-md-none">
        
                    <!--Third column-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
                        <h6 class="text-uppercase mb-2 font-weight-bold text-muted">Contact</h6>
                        <p class="mb-1 text-light" style="height: 3em;"><i class="fa fa-envelope mr-3"></i> info@oyla.com</p>
                    </div>
                </div>
                
                <hr>
                <div class="row  d-flex align-items-center">    
                    <div class="col-md-8 col-lg-8">
                        <p class="text-center text-md-left text-muted">© 2018 Oyla - Free Online Survey Tool</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
                    