<!-- PAGINATION START -->
<script src="/js/urlParamHelper.js"></script>
<script src="/js/pagination.js"></script>
<script>
    $(document).ready(function () {
        createPaginationBar(<%= pagination.pageCount %>);
    });

</script>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination-list">
    </ul>
</nav>

<!-- PAGINATION END -->