<form class="form-inline" method="get">
    <input class="form-control ds-input mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
</form>