
    <form class="form-group row" method="get">
        <div class="col col-sm-9">
            <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col col-sm-3">
            <button class="form-control btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
