<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
        <title>Oyla</title>
    </head>

    <body>
        
        <% include ../../partials/header.ejs %>
        
        <main role="main" class="container">
            <div class="row">
                <div class="container">

                    <% include ../../partials/searchBar.ejs %>
                        <% if (surveys.length) { %>
                            <%  for(survey of surveys) { %>
                                <% include ../../partials/surveyContainer.ejs %>
                            <% } %>
                            <% include ../../partials/paginationBar.ejs %>
                        <% } else { %>
                            <span class="lead">Couldn't find any surveys.</span>
                        <% } %>
                        
                </div>
            </div>
        </main>

        <% include ../../partials/footer.ejs %>

    </body>

</html>