<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../../partials/head.ejs %>
        <title>Oyla</title>
    </head>

    <body>
        
        <% include ../../partials/header.ejs %>
        
        <main role="main" class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron">
                        <h1 class="display-3">Hello, <%= session.user.username %></h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <% include ../../partials/footer.ejs %>

    </body>

</html>