<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
        <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>
        <script>
            $(document).ready(function(){
                $('#accountDiv').hide();
                $('#profileDiv').hide();

                $('#profileDiv').fadeIn("slow");
                
                $('#toggleProfile').click(function(){
                    $('#accountDiv').hide();
                    $('#profileDiv').fadeIn("slow");
                    $('#toggleProfile').addClass("active");
                    $('#toggleAccount').removeClass("active");
                });
                $('#toggleAccount').click(function(){
                    $('#profileDiv').hide();
                    $('#accountDiv').fadeIn("show");
                    $('#toggleProfile').removeClass("active");
                    $('#toggleAccount').addClass("active");
                });
            });
        </script>
        <main role="main" class="container">
            <div class="row">
                <div class="col col-3" >
                    <div class="text-center mb-3">
                        SETTINGS
                    </div>
                    <button class="btn btn-outline-success btn-block active" id="toggleProfile">Profile</button>
                    <button class="btn btn-outline-success btn-block" id="toggleAccount">Account</button>
                </div>
                <div class="col col-9">
                    <div id="profileDiv">
                         <% include ../../partials/userSettingProfile.ejs %>
                    </div>
                    <div id="accountDiv">
                        <% include ../../partials/userSettingAccount.ejs %>
                    </div>
                </div>
            </div>
        </main>
        <% include ../../partials/footer.ejs %>

</body>

</html>