<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% var page = 'setting' %>
    <% include ../../partials/header.ejs %>
    <main role="main" class="container">
        <h3>Will Show User Settings</h3>
    </main>
    <% include ../../partials/footer.ejs %>

</body>

</html>