<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <%  for(survey of surveys){ %>
        <div class="card mb-4">
            <div class="card-header bg-dark text-white"><%= survey.title %></div>
            <div class="card-body bg-primary text-white"><%= survey.description %></div>
            <div class="card-footer">
                <span>Created At : <%= survey.created_at %></span>
                <span>Updated At : <%= survey.updated_at %></span>
            </div>
        </div>
        <% } %>    
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>