<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <% include ../../partials/searchBar.ejs %>
        <%  for(survey of surveys){ %>
            <% include ../../partials/surveyContainer.ejs %>
        <% } %>
        <% include ../../partials/paginationBar.ejs %>    
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>