<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8">
                    <h1 class="mt-2">Create a new survey</h1>
                <p class="lead">You can get to know thoughts of the people by adding different questions.</p>
                <hr class="my-4">
                <form id="new-survey" method="POST">
                  <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputTitle" placeholder="Title" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputDescription" rows="3" placeholder="Description" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <h4>Questions</h4>
                    <hr class="my-1">
                    <div id="questions">
                      <p id="no-questions" class="text-muted">There is no questions.</p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Create the survey</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Add new question
                    </div>
                        <div id="add-question" class="card-body">
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="textBox">Text Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="checkBox">Check Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="multipleChoices">Multiple Choices</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="dropdownList">Dropdown List</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="rating">Rating</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="sorting">Sorting</button>
                        </div>
                </div>
            </div>
        </div>
            
    </main>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuestionModalLabel">Add question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="question-form">
            <div class="modal-body">
                <div class="form-group">
                    <label for="question-text" class="col-form-label">Question Text:</label>
                    <input type="text" class="form-control" id="question-text" required>
                </div>
                <div id="question-restrictions" class="form-group form-row">
                    <div class="col-md-3">
                        <label for="min-length">Min. Length:</label>
                        <input type="number" class="form-control" id="min-length" min="0" max="255" value="0" required>
                    </div>
                    <div class="col-md-3">
                        <label for="max-length">Max. Length:</label>
                        <input type="number" class="form-control" id="max-length" min="0" max="255" value="255" required>
                    </div>
                </div>
                <div id="question-options" class="form-group">
                    <h6>Options</h6>
                    <hr class="my-1">
                    <div id="options">
                        <input type="text" class="option form-control" placeholder="Option 1" required>
                        <input type="text" class="option form-control" placeholder="Option 2" required>
                    </div>
                    <div class="float-right">
                        <span class="badge badge-dark option-add">Add Option</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add question</button>
            </div>
            </form>
            </div>
        </div>
    </div>
    
    <% include ../../partials/footer.ejs %>
    <script src="/components/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="/components/nestable2/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#example').barrating({
                theme: 'fontawesome-stars'
            });

            function getOption(number_of_options) {
                return '<input type="text" class="option form-control" placeholder="Option ' + number_of_options +'" required>'
            }

            function hideFormGroup(form_group) {
                form_group.find('input').attr('disabled', true)
                form_group.hide()
            }

            function showFormGroup(form_group) {
                form_group.find('input').removeAttr('disabled')
                form_group.show()
            }

            $('#addQuestionModal').on('show.bs.modal', function (event) {
                var number_of_options = 0;
                var button = $(event.relatedTarget)
                var type = button.data('question-type')
                var type_name = button.text()
                var modal = $(this)
                modal.find('.modal-title').text(type_name)

                modal.find('input').val('')

                if(type == 'textBox' || type == 'rating') {
                    modal.find('#min-length').val(0)
                    modal.find('#max-length').val(255)

                    hideFormGroup(modal.find('#question-options'))
                    showFormGroup(modal.find('#question-restrictions'))
                } else {
                    var options = modal.find('#options')
                    options.html(getOption(++number_of_options))
                    options.append(getOption(++number_of_options))
                    modal.find('.option-add').unbind('click').click(function() {
                        options.append(getOption(++number_of_options))
                    })

                    showFormGroup(modal.find('#question-options'))
                    hideFormGroup(modal.find('#question-restrictions'))
                }

                modal.find('#question-form').submit(function(event) {
                    event.preventDefault()
                    event.stopImmediatePropagation()
                    if((type == 'textBox' || type == 'rating') && modal.find('#min-length').val() > modal.find('#max-length').val()) {
                        modal.find('#min-length').trigger('focus')
                        return;
                    }

                    var questions = $('#questions');
                    if(questions.has('p#no-questions').length)
                        questions.html('')

                    var question = '<div class="question card">'
                        + '<div class="card-body">'
                        + '<h5 class="card-title">' + modal.find('input#question-text').val() + '</h5>'
                        + '<p class="card-text">Options</p>'
                        + '</div>'
                        + '<div class="card-footer">'
                        + '<small class="text-muted">' + type_name + '</small>'
                        + '<div class="float-right">'
                        + '<span class="badge badge-primary question-edit">Edit</span> '
                        + '<span class="badge badge-danger question-remove">Remove</span>'
                        + '</div></div></div>';

                    questions.append(question)
                    modal.modal('hide')
                    var page = $('html, body')
                    page.animate({ scrollTop: page.height()  }, 500)
                });

                modal.find('#question-text').trigger('focus')
            });
        });
    </script>     

</body>

</html>