<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/components/jquery-bar-rating/dist/themes/bars-1to10.css">
    <link rel="stylesheet" href="/components/nestable2/dist/jquery.nestable.min.css">
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8">
                    <h1 class="mt-2">Create a new survey</h1>
                <p class="lead">You can get to know thoughts of the people by adding different questions.</p>
                <hr class="my-4">
                <form id="new-survey" method="POST">
                  <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputDescription" name="description" rows="3" placeholder="Description" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <h4>Questions</h4>
                    <hr class="my-1">
                    <div id="questions">
                      <p id="no-questions" class="text-muted">There is no questions.</p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Create the survey</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Add new question
                    </div>
                        <div id="add-question" class="card-body">
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="textBox" data-type-name="Text Box">Text Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="checkBox" data-type-name="Check Box">Check Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="multipleChoices" data-type-name="Multiple Choices">Multiple Choices</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="dropdownList" data-type-name="Dropdown List">Dropdown List</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="rating" data-type-name="Rating">Rating</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#questionModal" data-question-type="sorting" data-type-name="Sorting">Sorting</button>
                        </div>
                </div>
            </div>
        </div> 
    </main>

    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionModalLabel">Add question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="question-form">
            <div class="modal-body">
                <div class="form-group">
                    <label for="question-text" class="col-form-label">Question Text:</label>
                    <input type="text" class="form-control" id="question-text" required>
                </div>
                <div id="question-restrictions" class="form-group form-row">
                    <div class="col-md-3">
                        <label for="min-length">Min. Length:</label>
                        <input type="number" class="form-control" id="min-length" min="0" max="255" value="0" required>
                    </div>
                    <div class="col-md-3">
                        <label for="max-length">Max. Length:</label>
                        <input type="number" class="form-control" id="max-length" min="0" max="255" value="255" required>
                    </div>
                </div>
                <div id="question-options" class="form-group">
                    <h6>Options</h6>
                    <hr class="my-1">
                    <div id="options">
                        <input type="text" class="option form-control" placeholder="Option 1" required>
                        <input type="text" class="option form-control" placeholder="Option 2" required>
                    </div>
                    <div class="float-right">
                        <span class="badge badge-dark option-add">Add Option</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add question</button>
            </div>
            </form>
            </div>
        </div>
    </div>
    
    <% include ../../partials/footer.ejs %>
    <script src="/components/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="/components/nestable2/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(function() {
            var question_index = 0;

            function getOption(number_of_options, value) {
                return '<input type="text" class="option form-control" placeholder="Option ' + number_of_options +'"' + (typeof value === 'undefined' ? '' : ' value="' + value + '"') + ' required>'
            }

            function hideFormGroup(form_group) {
                form_group.find('input').attr('disabled', true)
                form_group.hide()
            }

            function showFormGroup(form_group) {
                form_group.find('input').removeAttr('disabled')
                form_group.show()
            }

            function getUniqueID(name) {
                return name + '_' + Math.random().toString(36).substr(0, 6);
            }

            function getTextBox() {
                return '<input type="text" class="form-control" placeholder="Your Answer">';
            }

            function getCheckBox(index, label) {
                var id = getUniqueID('checkbox') + '_' + index;
                return '<div class="form-check">'
                    + '<input class="form-check-input" type="checkbox" value="" id="' + id + '">'
                    + '<label class="form-check-label" for="' + id + '">' + label + '</label>'
                    + '</div>';
            }

            function getRadio(id, index, label) {
                return '<div class="form-check">'
                    + '<input class="form-check-input" name="' + id + '" id="' + id + '_' + index + '" type="radio" value="">'
                    + '<label class="form-check-label" for="' + id + '_' + index + '">' + label + '</label>'
                    + '</div>';
            }

            function getHiddenInput(name, value) {
                return '<input type="hidden" name="' + name + '" value="' + value + '">'
            }

            $('#questionModal').on('show.bs.modal', function (event) {
                var number_of_options = 0;
                var button = $(event.relatedTarget)
                var type = button.data('question-type')
                var type_name = button.data('type-name')
                var modal = $(this)
                var parent = null
                modal.find('.modal-title').text(type_name)

                modal.find('input').val('')

                if(type == 'textBox') {
                    if(button.hasClass('question-edit')) {
                        parent = button.parent().parent().parent()
                        var input = parent.find('input:hidden')
                        modal.find('#question-text').val(input.val())
                        modal.find('#min-length').val(input.next().val())
                        modal.find('#max-length').val(input.next().next().val())
                    } else {
                        modal.find('#min-length').val(0)
                        modal.find('#max-length').val(255)
                    }

                    hideFormGroup(modal.find('#question-options'))
                    showFormGroup(modal.find('#question-restrictions'))
                } else {
                    var options = modal.find('#options')
                    options.html('')
                    if(button.hasClass('question-edit')) {
                        parent = button.parent().parent().parent()
                        var input = parent.find('input:hidden')
                        modal.find('#question-text').val(input.val())
                        input.nextAll().each(function(index) {
                            options.append(getOption(++number_of_options, $(this).val()))
                        });
                    } else {
                        options.append(getOption(++number_of_options))
                        options.append(getOption(++number_of_options))
                    }
                    
                    
                    modal.find('.option-add').unbind('click').click(function() {
                        options.append(getOption(++number_of_options))
                    })

                    showFormGroup(modal.find('#question-options'))
                    hideFormGroup(modal.find('#question-restrictions'))
                }
                
                modal.find('#question-form').unbind('submit').submit(function(event) {
                    event.preventDefault()
                    if(type == 'textBox' && modal.find('#min-length').val() > modal.find('#max-length').val()) {
                        modal.find('#min-length').trigger('focus')
                        return;
                    }

                    var questions = $('#questions');
                    questions.find('p#no-questions').hide();

                    var question = '<div class="question card">'
                        + '<div class="card-body">'
                        + '<h5 class="card-title">' + modal.find('input#question-text').val() + '</h5>'
                        + '<div class="card-text">';

                    switch(type) {
                        case 'textBox':
                            question += getTextBox();
                            break;

                        case 'checkBox':
                            modal.find('#options > input').each(function(index) {
                                question += getCheckBox(index, $(this).val())
                            });
                            break;

                        case 'multipleChoices':
                            var id = getUniqueID('radio');
                            modal.find('#options > input').each(function(index) {
                                question += getRadio(id, index, $(this).val())
                            });
                            break;

                        case 'dropdownList':
                            question += '<select class="form-control">';
                            modal.find('#options > input').each(function(index) {
                                question += '<option>' + $(this).val() + '</option>';
                            });
                            question += '</select>';
                            break;

                        case 'rating':
                            question += '<select class="bar-rating">';
                            modal.find('#options > input').each(function(index) {
                                question += '<option>' + $(this).val() + '</option>';
                            });
                            question += '</select>';
                            break;

                        case 'sorting':
                            question += '<div class="dd">';
                            question += '<ol class="dd-list">';
                            modal.find('#options > input').each(function(index) {
                                question += '<li class="dd-item" data-id="' + (index + 1) + '">';
                                question += '<div class="dd-handle">' + $(this).val() + '</div>';
                                question += '</li>';
                            });
                            question += '</ol>';
                            question += '</div>';
                            break;
                        
                        default:
                    }

                    question += getHiddenInput('questions[' + question_index + '][question]', modal.find('#question-text').val())

                    if(type == 'textBox')
                        question += getHiddenInput('questions[' + question_index + '][min_length]', modal.find('#min-length').val())
                        + getHiddenInput('questions[' + question_index + '][max_length]', modal.find('#max-length').val());
                    else
                        modal.find('#options > input').each(function(index) {
                            question += getHiddenInput('questions[' + question_index + '][options][' + index +']', $(this).val())
                        });

                    question += '</div>'
                        + '</div>'
                        + '<div class="card-footer">'
                        + '<small class="text-muted">' + type_name + '</small>'
                        + '<div class="float-right">'
                        + '<span class="badge badge-primary question-edit" data-toggle="modal" data-target="#questionModal" data-question-type="' + type + '" data-type-name="' + type_name + '">Edit</span> '
                        + '<span class="badge badge-danger question-remove">Remove</span>'
                        + '</div></div></div>';

                    if(button.hasClass('question-edit')) {
                        parent.after(question)
                        parent.remove()
                    } else
                        questions.append(question)
                    question_index++
                    modal.modal('hide')
                    var page = $('html, body')
                    page.animate({ scrollTop: page.height() - 500 }, 500)

                    if(type == 'rating') {
                        $('.bar-rating').barrating({
                            theme: 'bars-1to10'
                        });
                    } else if(type == 'sorting') {
                        $('.dd').nestable({

                        });
                    }

                    $('span.question-remove').unbind('click').click(function() {
                        var parent = $(this).parent().parent().parent();
                        parent.hide('slow', function(){ parent.remove(); });
                        //console.log(questions.children().length)
                        if(questions.children().length == 2)
                            questions.find('p#no-questions').show('slow');
                    });
                });

                modal.find('#question-text').trigger('focus')
            });
        });
    </script>     

</body>

</html>