<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <main role="main" class="container">
        <h1 class="mt-2">Survey Title</h1>
        <p class="lead">Survey Description.</p>
        <hr class="my-4">
        <p class="lead">
            Survey Content
        </p>
            
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>