<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    
    <title>LOGIN</title>

</head>

<body>
    <% include ../partials/navbar.ejs %>

    <div class="full-width">
        <p>Hi From Login</p>
    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>