<!DOCTYPE html>
<html lang="en">

<head>
    <% var page='logout' %>
    <% include ../partials/head.ejs %>
    <title>Login | Oyla</title>
</head>

<body>
    <% include ../partials/header.ejs %>
        <div class="container">
            <h1 class="text-center">You Succesfully Logout!</h1>
        </div>
    <% include ../partials/footer.ejs %>
</body>

</html>