<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <title>Oyla</title>
</head>

<body>
    <% var page = 'index' %>
    <% include ../partials/header.ejs %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8">
                    <h1 class="mt-2">Create a new survey</h1>
                <p class="lead">You can get to know thoughts of the people by adding different questions.</p>
                <hr class="my-4">
                <form id="new-survey" method="POST">
                  <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputTitle" placeholder="Title" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputDescription" rows="3" placeholder="Description" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <h4>Questions</h4>
                    <hr class="my-1">
                    <div id="questions">
                      <p>There is no questions.</p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Create the survey</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Add new question
                    </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-secondary btn-block">Text Box</a>
                            <a href="#" class="btn btn-secondary btn-block">Check Box</a>
                            <a href="#" class="btn btn-secondary btn-block">Multiple Choices</a>
                            <a href="#" class="btn btn-secondary btn-block">Dropdown List</a>
                            <a href="#" class="btn btn-secondary btn-block">Voting</a>
                            <a href="#" class="btn btn-secondary btn-block">Sorting</a>
                        </div>
                </div>
            </div>
        </div>
            
    </main>
    
    <% include ../partials/footer.ejs %>
    <script src="/components/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="/components/nestable2/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#example').barrating({
                theme: 'fontawesome-stars'
            });
        });
    </script>     

</body>

</html>