<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/survey.css">
    <title>Oyla</title>
</head>

<body>
    <% var page = 'index' %>
    <% include ../partials/header.ejs %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8">
                    <h1 class="mt-2">Create a new survey</h1>
                <p class="lead">You can get to know thoughts of the people by adding different questions.</p>
                <hr class="my-4">
                <form id="new-survey" method="POST">
                  <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputTitle" placeholder="Title" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputDescription" rows="3" placeholder="Description" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <h4>Questions</h4>
                    <hr class="my-1">
                    <div id="questions">
                      <p class="text-muted">There is no questions.</p>
                      <div class="question card">
                        <div class="card-body">
                            <h5 class="card-title">Question</h5>
                            <p class="card-text">Options</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Text Box</small>
                            <div class="float-right">
                                <span class="badge badge-primary question-edit">Edit</span>
                                <span class="badge badge-danger question-remove">Remove</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Create the survey</button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Add new question
                    </div>
                        <div id="add-question" class="card-body">
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="textBox">Text Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="checkBox">Check Box</button>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="multipleChoices">Multiple Choices</a>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="dropdownList">Dropdown List</a>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="rating">Rating</a>
                            <button class="btn btn-secondary btn-block" data-toggle="modal" data-target="#addQuestionModal" data-question-type="sorting">Sorting</a>
                        </div>
                </div>
            </div>
        </div>
            
    </main>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuestionModalLabel">Add question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="question-text" class="col-form-label">Question:</label>
                    <input type="text" class="form-control" id="question-text">
                </div>
                <div class="form-group">
                    <label for="restriction-text" class="col-form-label">Restriction:</label>
                    <textarea class="form-control" id="restriction-text"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add question</button>
            </div>
            </div>
        </div>
    </div>
    
    <% include ../partials/footer.ejs %>
    <script src="/components/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="/components/nestable2/jquery.nestable.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#example').barrating({
                theme: 'fontawesome-stars'
            });
        });
    </script>     

</body>

</html>