<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    
    <title>REGISTER</title>

</head>

<body>
    <% var page = 'register' %>
    <% include ../partials/navbar.ejs %>

    <div class="full-width">
        <p>Hi From Register</p>
    </div>

    <% include ../partials/footer.ejs %>
</body>

</html>