<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% var page = 'profile' %>
    <% include ../partials/header.ejs %>

    <main role="main" class="container">
        <h1>This Will Be Profile Page</h1>
    </main>
    
    <% include ../partials/footer.ejs %>

</body>

</html>