<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>

    <script src="/components/chart.js/dist/Chart.bundle.min.js"></script>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>
    <main role="main" class="container">
        <div class="row">
            <% include ../../partials/adminSideBar.ejs %>
            <div class="col col-9">

                    <div class="dashboard row">
                            <div class="col-sm text-center">
                                    <a href="/employee"><i class="fas fa-file-alt fa-7x"></i></a>
                                    <br/>
                                    Number of Surveys
                                    <br/>
                                    <h3><span class="badge badge-secondary">234</span></h3>
                                </div>
                                <div class="col-sm text-center">
                                    <a href="/project"><i class="fas fa-question fa-7x"></i></a>
                                    <br/>
                                    Number of Questions
                                    <br/>
                                    <h3><span class="badge badge-secondary">234</span></h3>
                                </div>
                                <div class="col-sm text-center">
                                    <a href="/employee"><i class="fas fa-reply-all fa-7x"></i></a>
                                    <br/>
                                    Number of Answers
                                    <br/>
                                    <h3><span class="badge badge-secondary">324</span></h3>
                                </div>
                    </div>
                    <hr />
                <div class="row">
                    <% for(stat of stats) { %>
                        <div class="col-6">
                            <% include ../../partials/chartContainer.ejs %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>