<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% var page = 'dashboard' %>
    <% include ../../partials/header.ejs %>
    
    <main role="main" class="container">
        This Will Be Admin Dashboard
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>