<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <% include ../../partials/adminTopMenu.ejs %>
    
    <main role="main" class="container">
        Dashboard
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>