<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>

    <script src="/components/chart.js/dist/Chart.bundle.min.js"></script>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>
    <main role="main" class="container">
        <div class="row">
            <% include ../../partials/adminSideBar.ejs %>
            <div class="col col-9">
                <div class="row">
                    <% for(stat of stats) { %>
                        <div class="col-6">
                            <% include ../../partials/adminChart.ejs %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>