<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
    <title>Oyla</title>
</head>

<body>
    <% include ../../partials/header.ejs %>

    <% include ../../partials/adminTopMenu.ejs %>
    
    <main role="main" class="container">
        <h1>Surveys</h1>
           <table class="table table-inverse">
            <thead>
                <tr>
                <th>#</th>
                <th>Survey Name</th>
                <th>Survey Creator</th>
                <th>Survey Desc</th>
                </tr>
            </thead>
            <tbody>
                <%  let i,survey;
                    for(i = 0;i < surveys.length;i++){
                    survey = surveys[i];
                %>
                <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= survey.title %></td>
                <td><%= survey.user_id %></td>
                <td><%= survey.description %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>
    
    <% include ../../partials/footer.ejs %>

</body>

</html>